/* Figma Styles of your File */
:root {
  /* Colors */
  --contact-aurelovableapp-athens-gray: #e5e7eb;
  --contact-aurelovableapp-black: #000000;
  --contact-aurelovableapp-black-10: rgba(0, 0, 0, 0.1);
  --contact-aurelovableapp-brandy: #dabd84;
  --contact-aurelovableapp-dodger-blue: #4b73ff;
  --contact-aurelovableapp-ebony-clay: #1f2937;
  --contact-aurelovableapp-ecru-white: #f5f1e8;
  --contact-aurelovableapp-flush-orange: #fe7b02;
  --contact-aurelovableapp-oxford-blue: #374151;
  --contact-aurelovableapp-pink-flamingo: #ff66f4;
  --contact-aurelovableapp-red: #ff0105;
  --contact-aurelovableapp-river-bed: #4b5563;
  --contact-aurelovableapp-santas-gray: #a1a1aa;
  --contact-aurelovableapp-shadow: #8b7355;
  --contact-aurelovableapp-slate-gray: #64748b;
  --contact-aurelovableapp-spring-wood: #fcfbf8;
  --contact-aurelovableapp-white: #ffffff;
  --contact-aurelovableapp-white-10: rgba(255, 255, 255, 0.1);
  --contact-aurelovableapp-white-20: rgba(255, 255, 255, 0.2);
  --contact-aurelovableapp-white-80: rgba(255, 255, 255, 0.8);
  --contact-aurelovableapp-white-90: rgba(255, 255, 255, 0.9);
  --wwwjoinarccom-heavy-metal: #1e1e1c;
  --wwwjoinarccom-cod-gray: #181818;
  --wwwjoinarccom-desert-storm: #fafaf9;
  --wwwjoinarccom-desert-storm: #eaeae8;
  --wwwjoinarccom-elm: #206d69;
  --wwwjoinarccom-fuscous-gray: #53524b;
  --wwwjoinarccom-fuscous-gray-6: rgba(83, 82, 75, 0.06);
  --wwwjoinarccom-gray-nickel: #c1c0ba;
  --wwwjoinarccom-heavy-metal-40: rgba(30, 30, 28, 0.4);
  --wwwjoinarccom-lemon-grass: #98968d;
  --wwwjoinarccom-mountain-meadow: #11a080;
  --wwwjoinarccom-black-15: rgba(0, 0, 0, 0.15);
  --wwwjoinarccom-boulder: #7a786f;
  --wwwjoinarccom-cararra: #f1f0ec;
  --wwwjoinarccom-mountain-meadow: #15c8a0;
  --wwwjoinarccom-picton-blue: #45ceec;
  --wwwjoinarccom-tapa: #7a786f;
  --wwwjoinarccom-algae-green: #86e0b2;
  --wwwjoinarccom-aqua-spring: #fafaf9;
  --wwwjoinarccom-aqua-spring: #f0fbf5;
  --wwwjoinarccom-cod-gray: #1e1e1e;

  /* Fonts */
  --contact-aurelovableapp-semantic-button-font-family: Inter-Regular,
    sans-serif;
  --contact-aurelovableapp-semantic-button-font-size: 13.34375px;
  --contact-aurelovableapp-semantic-button-line-height: 20px;
  --contact-aurelovableapp-semantic-button-font-weight: 400;
  --contact-aurelovableapp-semantic-button-font-style: normal;
  --contact-aurelovableapp-semantic-button-font-family: Inter-Regular,
    sans-serif;
  --contact-aurelovableapp-semantic-button-font-size: 14px;
  --contact-aurelovableapp-semantic-button-line-height: 21px;
  --contact-aurelovableapp-semantic-button-font-weight: 400;
  --contact-aurelovableapp-semantic-button-font-style: normal;
  --contact-aurelovableapp-semantic-heading-1-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-1-font-size: 47.0625px;
  --contact-aurelovableapp-semantic-heading-1-line-height: 48px;
  --contact-aurelovableapp-semantic-heading-1-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-1-font-style: normal;
  --contact-aurelovableapp-semantic-heading-2-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-2-font-size: 23.0625px;
  --contact-aurelovableapp-semantic-heading-2-line-height: 32px;
  --contact-aurelovableapp-semantic-heading-2-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-2-font-style: normal;
  --contact-aurelovableapp-semantic-heading-2-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-2-font-size: 23.4375px;
  --contact-aurelovableapp-semantic-heading-2-line-height: 32px;
  --contact-aurelovableapp-semantic-heading-2-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-2-font-style: normal;
  --contact-aurelovableapp-semantic-heading-3-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-3-font-size: 15.25px;
  --contact-aurelovableapp-semantic-heading-3-line-height: 24px;
  --contact-aurelovableapp-semantic-heading-3-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-3-font-style: normal;
  --contact-aurelovableapp-semantic-heading-3-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-3-font-size: 15.875px;
  --contact-aurelovableapp-semantic-heading-3-line-height: 24px;
  --contact-aurelovableapp-semantic-heading-3-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-3-font-style: normal;
  --contact-aurelovableapp-semantic-heading-3-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-3-font-size: 16px;
  --contact-aurelovableapp-semantic-heading-3-line-height: 24px;
  --contact-aurelovableapp-semantic-heading-3-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-3-font-style: normal;
  --contact-aurelovableapp-semantic-heading-3-font-family: Inter-Bold,
    sans-serif;
  --contact-aurelovableapp-semantic-heading-3-font-size: 23.625px;
  --contact-aurelovableapp-semantic-heading-3-line-height: 32px;
  --contact-aurelovableapp-semantic-heading-3-font-weight: 700;
  --contact-aurelovableapp-semantic-heading-3-font-style: normal;
  --contact-aurelovableapp-semantic-item-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-semantic-item-font-size: 14.625px;
  --contact-aurelovableapp-semantic-item-line-height: 24px;
  --contact-aurelovableapp-semantic-item-font-weight: 400;
  --contact-aurelovableapp-semantic-item-font-style: normal;
  --contact-aurelovableapp-semantic-item-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-semantic-item-font-size: 14.75px;
  --contact-aurelovableapp-semantic-item-line-height: 24px;
  --contact-aurelovableapp-semantic-item-font-weight: 400;
  --contact-aurelovableapp-semantic-item-font-style: normal;
  --contact-aurelovableapp-semantic-label-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-semantic-label-font-size: 13.015625px;
  --contact-aurelovableapp-semantic-label-line-height: 20px;
  --contact-aurelovableapp-semantic-label-font-weight: 400;
  --contact-aurelovableapp-semantic-label-font-style: normal;
  --contact-aurelovableapp-semantic-label-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-semantic-label-font-size: 13.125px;
  --contact-aurelovableapp-semantic-label-line-height: 20px;
  --contact-aurelovableapp-semantic-label-font-weight: 400;
  --contact-aurelovableapp-semantic-label-font-style: normal;
  --contact-aurelovableapp-semantic-label-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-semantic-label-font-size: 13.234375px;
  --contact-aurelovableapp-semantic-label-line-height: 20px;
  --contact-aurelovableapp-semantic-label-font-weight: 400;
  --contact-aurelovableapp-semantic-label-font-style: normal;
  --contact-aurelovableapp-semantic-link-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-semantic-link-font-size: 11.0625px;
  --contact-aurelovableapp-semantic-link-line-height: 18px;
  --contact-aurelovableapp-semantic-link-font-weight: 400;
  --contact-aurelovableapp-semantic-link-font-style: normal;
  --contact-aurelovableapp-semantic-textarea-font-family: Inter-Regular,
    sans-serif;
  --contact-aurelovableapp-semantic-textarea-font-size: 13.015625px;
  --contact-aurelovableapp-semantic-textarea-line-height: 20px;
  --contact-aurelovableapp-semantic-textarea-font-weight: 400;
  --contact-aurelovableapp-semantic-textarea-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 15px;
  --contact-aurelovableapp-inter-regular-line-height: 24px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 15.25px;
  --contact-aurelovableapp-inter-regular-line-height: 24px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 15.375px;
  --contact-aurelovableapp-inter-regular-line-height: 24px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 15.5px;
  --contact-aurelovableapp-inter-regular-line-height: 24px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 15.75px;
  --contact-aurelovableapp-inter-regular-line-height: 24px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 18.59375px;
  --contact-aurelovableapp-inter-regular-line-height: 32.5px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-regular-font-family: Inter-Regular, sans-serif;
  --contact-aurelovableapp-inter-regular-font-size: 14.75px;
  --contact-aurelovableapp-inter-regular-line-height: 24px;
  --contact-aurelovableapp-inter-regular-font-weight: 400;
  --contact-aurelovableapp-inter-regular-font-style: normal;
  --contact-aurelovableapp-inter-bold-font-family: Inter-Bold, sans-serif;
  --contact-aurelovableapp-inter-bold-font-size: 20.4375px;
  --contact-aurelovableapp-inter-bold-line-height: 32px;
  --contact-aurelovableapp-inter-bold-font-weight: 700;
  --contact-aurelovableapp-inter-bold-font-style: normal;
  --contact-aurelovableapp-inter-bold-font-family: Inter-Bold, sans-serif;
  --contact-aurelovableapp-inter-bold-font-size: 21.5625px;
  --contact-aurelovableapp-inter-bold-line-height: 32px;
  --contact-aurelovableapp-inter-bold-font-weight: 700;
  --contact-aurelovableapp-inter-bold-font-style: normal;
  --contact-aurelovableapp-inter-bold-font-family: Inter-Bold, sans-serif;
  --contact-aurelovableapp-inter-bold-font-size: 23.8125px;
  --contact-aurelovableapp-inter-bold-line-height: 32px;
  --contact-aurelovableapp-inter-bold-font-weight: 700;
  --contact-aurelovableapp-inter-bold-font-style: normal;
  --wwwjoinarccom-semantic-heading-1-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-1-font-size: 46.3125px;
  --wwwjoinarccom-semantic-heading-1-line-height: 48px;
  --wwwjoinarccom-semantic-heading-1-font-weight: 400;
  --wwwjoinarccom-semantic-heading-1-font-style: normal;
  --wwwjoinarccom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-2-font-size: 46.5px;
  --wwwjoinarccom-semantic-heading-2-line-height: 48px;
  --wwwjoinarccom-semantic-heading-2-font-weight: 400;
  --wwwjoinarccom-semantic-heading-2-font-style: normal;
  --wwwjoinarccom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-2-font-size: 61px;
  --wwwjoinarccom-semantic-heading-2-line-height: 70.4px;
  --wwwjoinarccom-semantic-heading-2-font-weight: 400;
  --wwwjoinarccom-semantic-heading-2-font-style: normal;
  --wwwjoinarccom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-2-font-size: 62.875px;
  --wwwjoinarccom-semantic-heading-2-line-height: 70.4px;
  --wwwjoinarccom-semantic-heading-2-font-weight: 400;
  --wwwjoinarccom-semantic-heading-2-font-style: normal;
  --wwwjoinarccom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-heading-2-font-size: 62.875px;
  --wwwjoinarccom-semantic-heading-2-line-height: 70.4px;
  --wwwjoinarccom-semantic-heading-2-font-weight: 700;
  --wwwjoinarccom-semantic-heading-2-font-style: normal;
  --wwwjoinarccom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-3-font-size: 34.03125px;
  --wwwjoinarccom-semantic-heading-3-line-height: 39.6px;
  --wwwjoinarccom-semantic-heading-3-font-weight: 400;
  --wwwjoinarccom-semantic-heading-3-font-style: normal;
  --wwwjoinarccom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-3-font-size: 34.171875px;
  --wwwjoinarccom-semantic-heading-3-line-height: 39.6px;
  --wwwjoinarccom-semantic-heading-3-font-weight: 400;
  --wwwjoinarccom-semantic-heading-3-font-style: normal;
  --wwwjoinarccom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-3-font-size: 34.3125px;
  --wwwjoinarccom-semantic-heading-3-line-height: 39.6px;
  --wwwjoinarccom-semantic-heading-3-font-weight: 400;
  --wwwjoinarccom-semantic-heading-3-font-style: normal;
  --wwwjoinarccom-semantic-heading-4-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-4-font-size: 28.4765625px;
  --wwwjoinarccom-semantic-heading-4-line-height: 34.5px;
  --wwwjoinarccom-semantic-heading-4-font-weight: 400;
  --wwwjoinarccom-semantic-heading-4-font-style: normal;
  --wwwjoinarccom-semantic-heading-5-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-semantic-heading-5-font-size: 21.3125px;
  --wwwjoinarccom-semantic-heading-5-line-height: 24.2px;
  --wwwjoinarccom-semantic-heading-5-font-weight: 500;
  --wwwjoinarccom-semantic-heading-5-font-style: normal;
  --wwwjoinarccom-semantic-heading-5-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-semantic-heading-5-font-size: 21.828125px;
  --wwwjoinarccom-semantic-heading-5-line-height: 24.2px;
  --wwwjoinarccom-semantic-heading-5-font-weight: 500;
  --wwwjoinarccom-semantic-heading-5-font-style: normal;
  --wwwjoinarccom-semantic-item-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-item-font-size: 15.25px;
  --wwwjoinarccom-semantic-item-line-height: 24px;
  --wwwjoinarccom-semantic-item-font-weight: 400;
  --wwwjoinarccom-semantic-item-font-style: normal;
  --wwwjoinarccom-semantic-item-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-item-font-size: 15.375px;
  --wwwjoinarccom-semantic-item-line-height: 24px;
  --wwwjoinarccom-semantic-item-font-weight: 400;
  --wwwjoinarccom-semantic-item-font-style: normal;
  --wwwjoinarccom-semantic-item-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-item-font-size: 15.5px;
  --wwwjoinarccom-semantic-item-line-height: 24px;
  --wwwjoinarccom-semantic-item-font-weight: 700;
  --wwwjoinarccom-semantic-item-font-style: normal;
  --wwwjoinarccom-semantic-item-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-item-font-size: 15.625px;
  --wwwjoinarccom-semantic-item-line-height: 24px;
  --wwwjoinarccom-semantic-item-font-weight: 700;
  --wwwjoinarccom-semantic-item-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 15.25px;
  --wwwjoinarccom-semantic-strong-line-height: 24px;
  --wwwjoinarccom-semantic-strong-font-weight: 400;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 15.25px;
  --wwwjoinarccom-semantic-strong-line-height: 24px;
  --wwwjoinarccom-semantic-strong-font-weight: 700;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-heading-1-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-heading-1-font-size: 54.03125px;
  --wwwjoinarccom-semantic-heading-1-line-height: 61.6px;
  --wwwjoinarccom-semantic-heading-1-font-weight: 400;
  --wwwjoinarccom-semantic-heading-1-font-style: normal;
  --wwwjoinarccom-semantic-input-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-input-font-size: 11.4375px;
  --wwwjoinarccom-semantic-input-line-height: normal;
  --wwwjoinarccom-semantic-input-font-weight: 400;
  --wwwjoinarccom-semantic-input-font-style: normal;
  --wwwjoinarccom-semantic-input-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-input-font-size: 12.390625px;
  --wwwjoinarccom-semantic-input-line-height: normal;
  --wwwjoinarccom-semantic-input-font-weight: 400;
  --wwwjoinarccom-semantic-input-font-style: normal;
  --wwwjoinarccom-semantic-input-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-input-font-size: 12.4921875px;
  --wwwjoinarccom-semantic-input-line-height: normal;
  --wwwjoinarccom-semantic-input-font-weight: 400;
  --wwwjoinarccom-semantic-input-font-style: normal;
  --wwwjoinarccom-semantic-input-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-input-font-size: 12.59375px;
  --wwwjoinarccom-semantic-input-line-height: normal;
  --wwwjoinarccom-semantic-input-font-weight: 400;
  --wwwjoinarccom-semantic-input-font-style: normal;
  --wwwjoinarccom-semantic-input-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-input-font-size: 12.796875px;
  --wwwjoinarccom-semantic-input-line-height: normal;
  --wwwjoinarccom-semantic-input-font-weight: 400;
  --wwwjoinarccom-semantic-input-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 11.25px;
  --wwwjoinarccom-semantic-link-line-height: 24px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 11.4375px;
  --wwwjoinarccom-semantic-link-line-height: 24px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 11.625px;
  --wwwjoinarccom-semantic-link-line-height: 24px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 13.234375px;
  --wwwjoinarccom-semantic-link-line-height: 19.6px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 13.34375px;
  --wwwjoinarccom-semantic-link-line-height: 19.6px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 13.453125px;
  --wwwjoinarccom-semantic-link-line-height: 19.6px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 13.5625px;
  --wwwjoinarccom-semantic-link-line-height: 19.6px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 13.671875px;
  --wwwjoinarccom-semantic-link-line-height: 19.6px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-font-size: 14px;
  --wwwjoinarccom-semantic-link-line-height: 19.6px;
  --wwwjoinarccom-semantic-link-font-weight: 400;
  --wwwjoinarccom-semantic-link-font-style: normal;
  --wwwjoinarccom-semantic-link-underline-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-underline-font-size: 11.25px;
  --wwwjoinarccom-semantic-link-underline-line-height: 18px;
  --wwwjoinarccom-semantic-link-underline-font-weight: 400;
  --wwwjoinarccom-semantic-link-underline-font-style: normal;
  --wwwjoinarccom-semantic-link-underline-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-underline-font-size: 11.4375px;
  --wwwjoinarccom-semantic-link-underline-line-height: 18px;
  --wwwjoinarccom-semantic-link-underline-font-weight: 400;
  --wwwjoinarccom-semantic-link-underline-font-style: normal;
  --wwwjoinarccom-semantic-link-underline-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-underline-font-size: 11.625px;
  --wwwjoinarccom-semantic-link-underline-line-height: 18px;
  --wwwjoinarccom-semantic-link-underline-font-weight: 400;
  --wwwjoinarccom-semantic-link-underline-font-style: normal;
  --wwwjoinarccom-semantic-link-underline-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-underline-font-size: 11.8125px;
  --wwwjoinarccom-semantic-link-underline-line-height: 18px;
  --wwwjoinarccom-semantic-link-underline-font-weight: 400;
  --wwwjoinarccom-semantic-link-underline-font-style: normal;
  --wwwjoinarccom-semantic-link-underline-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-link-underline-font-size: 12px;
  --wwwjoinarccom-semantic-link-underline-line-height: 18px;
  --wwwjoinarccom-semantic-link-underline-font-weight: 400;
  --wwwjoinarccom-semantic-link-underline-font-style: normal;
  --wwwjoinarccom-semantic-mispelled-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-mispelled-font-size: 12px;
  --wwwjoinarccom-semantic-mispelled-line-height: 18px;
  --wwwjoinarccom-semantic-mispelled-font-weight: 400;
  --wwwjoinarccom-semantic-mispelled-font-style: normal;
  --wwwjoinarccom-semantic-mispelled-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-mispelled-underline-font-size: 11.25px;
  --wwwjoinarccom-semantic-mispelled-underline-line-height: 18px;
  --wwwjoinarccom-semantic-mispelled-underline-font-weight: 400;
  --wwwjoinarccom-semantic-mispelled-underline-font-style: normal;
  --wwwjoinarccom-semantic-mispelled-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-mispelled-underline-font-size: 11.4375px;
  --wwwjoinarccom-semantic-mispelled-underline-line-height: 18px;
  --wwwjoinarccom-semantic-mispelled-underline-font-weight: 400;
  --wwwjoinarccom-semantic-mispelled-underline-font-style: normal;
  --wwwjoinarccom-semantic-mispelled-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-mispelled-underline-font-size: 11.625px;
  --wwwjoinarccom-semantic-mispelled-underline-line-height: 18px;
  --wwwjoinarccom-semantic-mispelled-underline-font-weight: 400;
  --wwwjoinarccom-semantic-mispelled-underline-font-style: normal;
  --wwwjoinarccom-semantic-mispelled-underline-font-family: Inter-Bold,
    sans-serif;
  --wwwjoinarccom-semantic-mispelled-underline-font-size: 11.625px;
  --wwwjoinarccom-semantic-mispelled-underline-line-height: 18px;
  --wwwjoinarccom-semantic-mispelled-underline-font-weight: 700;
  --wwwjoinarccom-semantic-mispelled-underline-font-style: normal;
  --wwwjoinarccom-semantic-options-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-options-font-size: 12.2890625px;
  --wwwjoinarccom-semantic-options-line-height: 16px;
  --wwwjoinarccom-semantic-options-font-weight: 400;
  --wwwjoinarccom-semantic-options-font-style: normal;
  --wwwjoinarccom-semantic-options-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-options-font-size: 12.390625px;
  --wwwjoinarccom-semantic-options-line-height: 16px;
  --wwwjoinarccom-semantic-options-font-weight: 400;
  --wwwjoinarccom-semantic-options-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 11.25px;
  --wwwjoinarccom-semantic-strong-line-height: 18px;
  --wwwjoinarccom-semantic-strong-font-weight: 400;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 11.25px;
  --wwwjoinarccom-semantic-strong-line-height: 18px;
  --wwwjoinarccom-semantic-strong-font-weight: 700;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 11.4375px;
  --wwwjoinarccom-semantic-strong-line-height: 18px;
  --wwwjoinarccom-semantic-strong-font-weight: 400;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 11.4375px;
  --wwwjoinarccom-semantic-strong-line-height: 18px;
  --wwwjoinarccom-semantic-strong-font-weight: 700;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-strong-font-size: 11.625px;
  --wwwjoinarccom-semantic-strong-line-height: 18px;
  --wwwjoinarccom-semantic-strong-font-weight: 700;
  --wwwjoinarccom-semantic-strong-font-style: normal;
  --wwwjoinarccom-semantic-strong-underline-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-semantic-strong-underline-font-size: 11.625px;
  --wwwjoinarccom-semantic-strong-underline-line-height: 18px;
  --wwwjoinarccom-semantic-strong-underline-font-weight: 700;
  --wwwjoinarccom-semantic-strong-underline-font-style: normal;
  --wwwjoinarccom-semantic-superscript-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-superscript-underline-font-size: 7.703125px;
  --wwwjoinarccom-semantic-superscript-underline-line-height: 22.4px;
  --wwwjoinarccom-semantic-superscript-underline-font-weight: 400;
  --wwwjoinarccom-semantic-superscript-underline-font-style: normal;
  --wwwjoinarccom-semantic-superscript-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-superscript-underline-font-size: 7.8359375px;
  --wwwjoinarccom-semantic-superscript-underline-line-height: 22.4px;
  --wwwjoinarccom-semantic-superscript-underline-font-weight: 400;
  --wwwjoinarccom-semantic-superscript-underline-font-style: normal;
  --wwwjoinarccom-semantic-superscript-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-superscript-underline-font-size: 7.96875px;
  --wwwjoinarccom-semantic-superscript-underline-line-height: 22.4px;
  --wwwjoinarccom-semantic-superscript-underline-font-weight: 400;
  --wwwjoinarccom-semantic-superscript-underline-font-style: normal;
  --wwwjoinarccom-semantic-superscript-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-superscript-underline-font-size: 8.1015625px;
  --wwwjoinarccom-semantic-superscript-underline-line-height: 22.4px;
  --wwwjoinarccom-semantic-superscript-underline-font-weight: 400;
  --wwwjoinarccom-semantic-superscript-underline-font-style: normal;
  --wwwjoinarccom-semantic-superscript-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-superscript-underline-font-size: 8.234375px;
  --wwwjoinarccom-semantic-superscript-underline-line-height: 22.4px;
  --wwwjoinarccom-semantic-superscript-underline-font-weight: 400;
  --wwwjoinarccom-semantic-superscript-underline-font-style: normal;
  --wwwjoinarccom-semantic-superscript-underline-font-family: Inter-Regular,
    sans-serif;
  --wwwjoinarccom-semantic-superscript-underline-font-size: 8.5px;
  --wwwjoinarccom-semantic-superscript-underline-line-height: 22.4px;
  --wwwjoinarccom-semantic-superscript-underline-font-weight: 400;
  --wwwjoinarccom-semantic-superscript-underline-font-style: normal;
  --wwwjoinarccom-semantic-textarea-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-semantic-textarea-font-size: 12.6953125px;
  --wwwjoinarccom-semantic-textarea-line-height: normal;
  --wwwjoinarccom-semantic-textarea-font-weight: 400;
  --wwwjoinarccom-semantic-textarea-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 13.78125px;
  --wwwjoinarccom-inter-medium-line-height: 16px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 15.375px;
  --wwwjoinarccom-inter-medium-line-height: 22.4px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 15.625px;
  --wwwjoinarccom-inter-medium-line-height: 22.4px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 15.875px;
  --wwwjoinarccom-inter-medium-line-height: 22.4px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 11.25px;
  --wwwjoinarccom-inter-regular-line-height: 18px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 11.4375px;
  --wwwjoinarccom-inter-medium-line-height: 22.4px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 11.4375px;
  --wwwjoinarccom-inter-regular-line-height: 24px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 13.5625px;
  --wwwjoinarccom-inter-medium-line-height: 16px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 12px;
  --wwwjoinarccom-inter-regular-line-height: 18px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 13.671875px;
  --wwwjoinarccom-inter-medium-line-height: 21px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 13.5625px;
  --wwwjoinarccom-inter-medium-line-height: 21px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwjoinarccom-inter-medium-font-size: 13.453125px;
  --wwwjoinarccom-inter-medium-line-height: 21px;
  --wwwjoinarccom-inter-medium-font-weight: 500;
  --wwwjoinarccom-inter-medium-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 18px;
  --wwwjoinarccom-inter-regular-line-height: 25.2px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-inter-bold-upper-font-size: 16px;
  --wwwjoinarccom-inter-bold-upper-line-height: 24px;
  --wwwjoinarccom-inter-bold-upper-font-weight: 700;
  --wwwjoinarccom-inter-bold-upper-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 17.015625px;
  --wwwjoinarccom-inter-regular-line-height: 25.2px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 17.296875px;
  --wwwjoinarccom-inter-regular-line-height: 25.2px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwjoinarccom-inter-regular-font-size: 15.125px;
  --wwwjoinarccom-inter-regular-line-height: 24px;
  --wwwjoinarccom-inter-regular-font-weight: 400;
  --wwwjoinarccom-inter-regular-font-style: normal;
  --wwwjoinarccom-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwjoinarccom-inter-bold-font-size: 15.125px;
  --wwwjoinarccom-inter-bold-line-height: 24px;
  --wwwjoinarccom-inter-bold-font-weight: 700;
  --wwwjoinarccom-inter-bold-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-contact-aurelovableapp-mode="mode-1"] {
  /* mode-1 */
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-solid: #ffffff;
  --color-orange-44: #8b7355;
  --color-grey-98: #fcfbf8;
  --color-orange-69: #dabd84;
  --color-rose-75: #ff7eb0;
  --color-blue-65: #4b73ff;
  --color-magenta-70: #ff66f4;
  --color-red-50: #ff0105;
  --color-orange-50: #fe7b02;
  --color-grey-94: #f5f1e8;
  --color-orange-88: #ede4d3;
  --color-orange-61: #c5a373;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-azure-17: #1f2937;
  --color-azure-34: #4b5563;
  --color-azure-27: #374151;
  --color-grey-91: #e5e7eb;
  --color-azure-47: #64748b;
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-black-solid: #000000;
  --color-grey-65: #a1a1aa;
}

:root,
[data-wwwjoinarccom-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-grey-11: #1e1e1c;
  --color-black-solid: #000000;
  --color-grey-9: #181818;
  --color-grey-11-40: rgba(30, 30, 28, 0.4);
  --color-cyan-28: #206d69;
  --color-grey-98: #fafaf9;
  --color-grey-31: #53524b;
  --color-grey-31-6: rgba(83, 82, 75, 0.06);
  --color-cyan-35: #11a080;
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-grey-94: #f1f0ec;
  --color-grey-74: #c1c0ba;
  --color-grey-46: #7a786f;
  --color-grey-91: #eaeae8;
  --color-spring-green-70: #86e0b2;
  --color-cyan-60: #45ceec;
  --color-cyan-43: #15c8a0;
  --color-grey-12: #1e1e1e;
  --color-grey-96: #f0fbf5;
  --color-grey-57: #98968d;
}
